<script type="text/template" class="template-create-ListView">
    <div class="list-group">
        <div class="newPage" id="page1">
            <% _.each(items, function(item, index) {
            if ((index != 0) && (index % 10 == 0)) {%>
        </div>
        <div class="newPage" style="display:none" id="page<%= (index/10)+1%>">
            <%}%>
                <div class="listItem" id="<%=item.RezeptID%>">
                    <a href="#" class="list-group-item">
                        <div>Titel:</div>
                        <div class="listItemTitle">
                            <%= item.title%>
                        </div>
                        <div>Zutaten:</div>
                        <div>
                            <%= item.zutaten%>
                        </div>

                    </a>
                </div>
                <%});%>
        </div>
    </div>
</script>
<script type="text/template" class="template-pagination">
    <nav aria-label="pagination">
        <ul class="pagination pg-blue justify-content-center">
            <li class="page-item active">
                <a class="page-link" href="#page1" id="pagination1">
                        1
                    </a>
            </li>

            <% for(var i = 1; i < count;i++) {%>
                <li class="page-item">
                    <a class="page-link" href="#page<%=(i+1)%>" id="pagination<%=(i+1)%>">
                        <%=(i+1)%>
                    </a>
                </li>
                <%}%>
        </ul>
    </nav>
</script>
<script type="text/template" class="template-modal">
    <!-- Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLongTitle">Bestätigung erforderlich</h5>
                </div>
                <div class="modal-body">
                    Möchten Sie dieses Rezept zu ihrer Historie hinzufügen?
                    <div class="modalRecipeTitle"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-primary">Hinzufügen</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" class="template-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-lg-5">
                <li class="nav-item">
                    <a class="nav-link" id="navBarUserButton" href="#screenUserInformation">Nutzeranzeige</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="navBarSearchResultsButton" href="#screenNavBar">Suchergebnisse</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 mr-lg-5">
                <input class="form-control mr-sm-2" type="search" placeholder="Hier Rezept eingeben." aria-label="Search" id="searchField">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="searchButton">Go!</button>
            </form>
        </div>
    </nav>
</script>
<script type="text/template" class="template-userInformation">
    <div>Dein Nährwertverbrauch:</div>

    <div>Kcal:</div>
    <div>
        <%=nutrs.Kcal%> /
            <%=nutrRef.kCal%>
    </div>

    <div>Ballaststoffe:</div>
    <div>
        <%=nutrs.Ballaststoffe%> /
            <%=nutrRef.Ballaststoffe%>
    </div>

    <div>Calcium:</div>
    <div>
        <%=nutrs.Calcium%> /
            <%=nutrRef.Calcium%>
    </div>

    <div>Eisen:</div>
    <div>
        <%=nutrs.Eisen%> /
            <%=nutrRef.Eisen%>
    </div>

    <div>Eiweis:</div>
    <div>
        <%=nutrs.Eiweis%> /
            <%=nutrRef.Eiweis%>
    </div>

    <div>Fett:</div>
    <div>
        <%=nutrs.Fett%> /
            <%=nutrRef.Fett%>
    </div>

    <div>Kohlenhydrate:</div>
    <div>
        <%=nutrs.Kohlenhydrate%> /
            <%=nutrRef.Kohlenhydrate%>
    </div>

    <div>Zink:</div>
    <div>
        <%=nutrs.Zink%> /
            <%=nutrRef.Zink%>
    </div>

    <div>Iodid:</div>
    <div>
        <%=nutrs.Iodid%> /
            <%=nutrRef.Iodid%>
    </div>

    <div>Kalium:</div>
    <div>
        <%=nutrs.Kalium%> /
            <%=nutrRef.Kalium%>
    </div>

    <div>Linolsäure:</div>
    <div>
        <%=nutrs.Linolsaeure%> /
            <%=nutrRef.Linolsaeure%>
    </div>

    <div>Linolensäure:</div>
    <div>
        <%=nutrs.Linolensaeure%> /
            <%=nutrRef.Linolensaeure%>
    </div>

    <div>Magnesium:</div>
    <div>
        <%=nutrs.Magnesium%> /
            <%=nutrRef.Magnesium%>
    </div>

    <div>Vitamin A:</div>
    <div>
        <%=nutrs.VitaminA%> /
            <%=nutrRef.VitaminA%>
    </div>

    <div>Vitamin B1:</div>
    <div>
        <%=nutrs.VitaminB1%> /
            <%=nutrRef.VitaminB1%>
    </div>

    <div>Vitamin B2:</div>
    <div>
        <%=nutrs.VitaminB2%> /
            <%=nutrRef.VitaminB2%>
    </div>

    <div>Vitamin B6:</div>
    <div>
        <%=nutrs.VitaminB6%> /
            <%=nutrRef.VitaminB6%>
    </div>

    <div>Vitamin B12:</div>
    <div>
        <%=nutrs.VitaminB12%> /
            <%=nutrRef.VitaminB12%>
    </div>

    <div>Vitamin C:</div>
    <div>
        <%=nutrs.VitaminC%> /
            <%=nutrRef.VitaminC%>
    </div>

    <div>Vitamin E:</div>
    <div>
        <%=nutrs.VitaminE%> /
            <%=nutrRef.VitaminE%>
    </div>


</script>
